<%- include("../includes/head.ejs") %>

<div class="container  mt-5" style=" width: 600px;;">
    <div class="card jumbotron p-5">
        <form action="/todos" method="POST"  >
            <h2 class="text-center font-weight-bold">New Todo</h2><br/>
          <div class="form-group">
              <label>New Todo</label>
            <input type="text" class="form-control" style="border-radius: 10px;"  placeholder="Enter New Todo" name="todo"><br/>
          
         <br/> 
              <button type="submit" name="submit" class="btn btn-primary" style="margin-left:15em">Submit</button>
          
        </form>
    </div>
  </div>

  <%- include("../includes/footer.ejs") %>